.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
build/*
builds/*
*.*~
pycache*
__pycache__/*
*.pyc
*.stackdump
enc_temp*
Build/*
Binaries
DerivedDataCache
Intermediate
Saved
Intermediate/*
DerivedDataCache/*
Saved/*
*_BuiltData.uasset
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
*_BACKUP_*
*_LOCAL_*
*_REMOTE_*
*_BASE_*
*.orig
hash_cache.json
*.idea/
Deployment
!7z.dll
!butler.exe
!c7zip.dll
